body {
	background-image: url("seamless_paper_texture.png");
}

a {
	color: grey;
}


#secton1{
	background-color: tan;
	width: 70%;
	border: 1px solid;
	color: black;
	float: left;
	margin: 50px;
}

#aboutme,
#p,
#pic {
	float: left;
}


#div1 {
	background-color: tan;
	padding: 20px; 
	
}

#name {
background-color: teal;
color: white;
padding: 10px;
font-size: 15px;
width: 20%;
margin-left: 80px;
text-align: center;
}

#links {
float: right;
margin: auto;

}


#Port{ 
	float: left;
 }

#contact {
float: left;
}



#aboutMe {
	clear: both;
	color: teal;
	overflow: auto;
}

#pic {
	width: 250px; 
	margin: 20px 20px 20px 20px;

}

p {
	clear: both;
}

#section2 {
background-color: tan;
width: 30%;

}

#connectwithme {
	color: teal;
	
}

#masterdiv{
	background-color: tan;


}

#github{

}

#linkedin{

}

#stackoverflow{

}
#foot {
	background-color: grey;
	padding: 20px;
	margin-top: 50%;
	text-align: center;
}



